@(pusherViewForm: Form[models.apps.Pusher])

@import helper._
@import helper.twitterBootstrap._

@title = {}

@main(title = Messages("pushers.create"), nav = "create") {

    @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>Error!</strong> @flash.get("success")
        </div>
    }

    @if(pusherViewForm.hasErrors) {
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong>@Messages("generic.error.title")</strong> @Messages("generic.error.content")
            <p>@pusherViewForm.errorsAsJson</p>
        </div>
    }


    @helper.form(action = controllers.routes.ResolversView.submit) {

        <fieldset>
            <legend>@Messages("pushers.info")</legend>

            @inputText(
                pusherViewForm("name"),
                '_label -> Messages("pushers.name"),
                '_help -> Messages("pushers.name.help"),
                'class -> "form-control",
                '_error -> pusherViewForm.globalError
            )

            @inputText(
                pusherViewForm("className"),
                '_label -> Messages("pushers.className"),
                '_help -> Messages("pushers.className.help"),
                'class -> "form-control",
                '_error -> pusherViewForm.globalError
            )

            @inputText(
                pusherViewForm("params"),
                '_label -> Messages("pushers.params"),
                '_help -> Messages("pushers.params.help"),
                'class -> "form-control",
                '_error -> pusherViewForm.globalError
            )

            @select(
                pusherViewForm("device.idDevice"),
                models.apps.Device.toSeq,
                '_label -> Messages("pushers.device"),
                'class -> "form-control"
            )

        </fieldset>

        <div class="actions">
            <input type="submit" class="btn btn-success" value=@Messages("pushers.submit.create")>
            <a href="@controllers.routes.ResolversView.list()" class="btn btn-primary">@Messages("generic.cancel")</a>
        </div>

    }

}