@(currentPage: com.avaje.ebean.Page[models.basic.PushedEvent], id: Int, currentSortBy: String, currentOrder: String, currentFilter: String, sortView: Boolean)

@****************************************
* Helper generating navigation links    *
****************************************@
@link(newPage:Int, newSortBy:String) = @{

    var sortBy = currentSortBy
    var order = currentOrder

    if(newSortBy != null) {
        sortBy = newSortBy
        if(currentSortBy == newSortBy) {
            if(currentOrder == "asc") {
                order = "desc"
            } else {
                order = "asc"
            }
        } else {
            order = "asc"
        }
    }

    // Generate the link
    controllers.routes.ApplicationsView.listPushed(id, newPage, sortBy, order, currentFilter)

}

@**********************************
* Helper generating table headers *
***********************************@
@header(key:String, title:String) = {
    <th class='@key.replace(".","_") header @if(currentSortBy == key) @{if(currentOrder == "asc") "headerSortDown" else "headerSortUp"}'>
        <a href="@link(0, key)">@title</a>
    </th>
}

@title = {}

@main(title = Messages("applications.pushed.list.head"), nav = "") {
    <div class="bs-docs-section">

        <div class="row">
            <div class="col-lg-12">
                <h1 id="homeTitle">@Messages("applications.pushed.list.title", currentPage.getTotalRowCount)</h1>
            </div>
        </div>

        <!--DIALOG-->
        @if(flash.containsKey("success")) {
        <div class="alert-message warning">
            <strong>@Messages("generic.list.done")</strong> @flash.get("success")
        </div>
        }
        <div id="alert" class="alert-message warning" style="display: none; ">
            <strong>@Messages("generic.list.done")</strong>
        </div>



        @if(currentPage.getTotalRowCount == 0) {

            <div class="well">
                <em>@Messages("generic.list.empty")</em>
            </div>

        } else {
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <div class="list-group">
                            <table class="table table-striped table-hover ">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>@Messages("applications.pushed.message")</th>
                                        <th>@Messages("applications.pushed.date")</th>
                                        <th>@Messages("applications.pushed.quantity")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for((pushed, index) <-  currentPage.getList().zipWithIndex) {
                                        <tr>
                                            <td>@Html(""+pushed.getIdPushedEvent())</td>
                                            <td>@Html(pushed.getMessage())</td>
                                            <td>@Html(pushed.getFormatedTime())</td>
                                            <td>@Html(""+pushed.getQuantity())</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="bs-docs-section">
        <div class="row">
            <div class="col-lg-12">

                <ul class="pager">

                    @if(currentPage.hasPrev) {
                        <li class="previous">
                            <a href="@link(currentPage.getPageIndex - 1, null)">← @Messages("generic.list.previous")</a>
                        </li>
                    } else {
                        <li class="previous disabled">
                            <a href="javascript:void(0)">← @Messages("generic.list.previous")</a>
                        </li>
                    }

                    <li class="current">
                        <a>@Messages("generic.list.listing") @currentPage.getDisplayXtoYofZ(" "+Messages("generic.list.through")+" ",  " "+Messages("generic.list.of")+" ")</a>
                    </li>

                    @if(currentPage.hasNext) {
                        <li class="next">
                            <a href="@link(currentPage.getPageIndex + 1, null)">@Messages("generic.list.next") →</a>
                        </li>
                    } else {
                        <li class="next disabled">
                            <a href="javascript:void(0)">@Messages("generic.list.next") →</a>
                        </li>
                    }


                </ul>
            </div>
        </div>


    </div>

}
